<meta charset="utf-8">
<title>rest-component demo</title>
<script src="https://unpkg.com/vue"></script>
<script src="./rest-component.umd.js"></script>
<link rel="stylesheet" href="./rest-component.css">

<div id="app">
  <demo></demo>
</div>

<script>
new Vue({
  components: {
    demo: rest-component
  }
}).$mount('#app')
</script>
