<template>
  <section class="rest-component">
    <slot :send="send" />
  </section>
</template>

<script>
import axios from 'axios'
import VueTypes from 'vue-types'

export default {
  name: 'Rest',
  props: {
    debug: VueTypes.bool.def(false),
    restUrl: VueTypes.string.isRequired,
    headers: VueTypes.Object
  },
  data () {
    return {
      instance: null
    }
  },
  created () {
    this.instance = axios.create({
      baseURL: this.restUrl,
      timeout: 1000
    })
    if (this.headers) {
      this.instance.headers = this.headers
    }
  },
  methods: {
    send (options) {
      return new Promise((resolve, reject) => {
        this.logToConsole(`Sending options: ${JSON.stringify(options)} to ${this.restUrl}`)

        const requestConfig = {}
        Object.keys(options).forEach(key => {
          requestConfig[ key ] = options[ key ]
        })

        if (!requestConfig[ 'method' ]) {
          requestConfig[ 'method' ] = 'get'
        }

        this.instance
          .request(requestConfig)
          .then(response => {
            this.logToConsole(response)
            resolve(response.data)
          })
          .catch(error => {
            this.logToConsole(error)
            reject(error)
          })
      })
    },
    logToConsole (message) {
      if (this.debug) {
        // eslint-disable-next-line
        console.log(message)
      }
    }
  }
}
</script>
